section:nth-of-type(1) h2 {
    font-family: BananaGrotesk, sans-serif;
    color: var(--color-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight:500;
    font-size: .9em;
}

main section:nth-of-type(1) button {
    font-family: BananaGrotesk, sans-serif;
    background-color: var(--color-main);
    color: var(--color-background);
    border: none;
    padding: 1em 2.5em;
}

