/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-main:#e4002b;
	--color-background:#ffffff;
	--color-standard:#000000;
	--color-licht-link:#afafaf;
	--color-link: #666666;
	--border-light: rgba(228, 0, 43, 0.3);
	--dark-mode:#290000;
}

@font-face {
	font-family:'BananaGrotesk';
	src: url(fonts/BananaGrotesk-Medium.woff2);
}

@font-face {
	font-family: 'FranklinGothic';
	src: url(fonts/franklin-gothic/FranklinGothicCondensed.ttf);
}

body {
    background-color: var(--color-background);
	margin:0;
}

.dark-mode {
    background-color: var(--dark-mode);
}

/****************/
/* header */
/****************/


/* section 1 */

header section:nth-of-type(1) img {
	width: 6.8em;
	z-index: 10;
}


/* section 2 */

header > section:nth-of-type(2) {
	position:fixed;
	top: 0;
	right: 0;
	z-index: 10;
}

header > section:nth-of-type(2) ul {
	background-color: var(--color-main);
	margin: 0;
	padding: 0;
	display: flex;
}

header > section:nth-of-type(2) li {
	display: flex;
	text-decoration: none;
	list-style: none;
	align-items: center;
	gap: 1px;
	padding: 1px;
} 

header > section:nth-of-type(2) a {
	background-color: var(--color-background);	
}

header > section:nth-of-type(2) {
	background-color: var(--color-background);
	font-family: 'BananaGrotesk', sans-serif;
	color: var(--color-main);
}

header > section:nth-of-type(2) svg {
	margin: .5em;
}

header > section:nth-of-type(2) button:nth-of-type(1) {
	font-family: 'BananaGrotesk', sans-serif;
	color: var(--color-main);
	display: flex;
	align-items: center;
}

header > section:nth-of-type(2) button:nth-of-type(1) svg {
	height: 2.85em;
	margin: 0;
	margin-right: .8em;
	margin-left: .8em;
}


header > section:nth-of-type(2) button:nth-of-type(2) svg {
	width: 2.5em;
	height: 2.85em;
	margin: 0;
}

header > section:nth-of-type(2) button {
	appearance: none;
	border: none;
	background-color: var(--color-background);
	margin: 0;
	height: 3.3em;
}


/* article 1 */

header article {
	background-color: var(--color-background);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	translate: -100%;
	transition: 1s;
	z-index: 5;
	overflow-y: auto;
}

header article img {
	width: 6em;
    height: 3em;
}

header.is-open article {
	translate: 0%;
}

/* article section 1 */

header article section:nth-of-type(1) ul {
	list-style: none;
	font-family: 'FranklinGothic';
	font-size: 1.3em;
	padding-left: 0;
}

header article section:nth-of-type(1) li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5em 1em .5em 1em;
}

header article section:nth-of-type(1) h2 {
	margin: 0;
}


/* article section 2 */

header article section:nth-of-type(2) {
	background-color: var(--color-main);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header article section:nth-of-type(2) a {
	font-family: 'BananaGrotesk', sans-serif;
	font-size: .9em;
	color: var(--color-background);
	padding: 1.5em 0 1.5em 1em ;
}

header article section:nth-of-type(2) img {
	width: 9em;
	padding-right: 1em;
}


/* article section 3 */
header article section:nth-of-type(3) {
	background-color: var(--color-main);
	border-top: .5px var(--color-background) solid;
	display: flex;
	align-items: center;
}

header article section:nth-of-type(3) svg {
	width: 1.5em;
	height: 1.5em;
	margin-left: .8em;
}

header article section:nth-of-type(3) button {
	appearance: none;
	background-color: var(--color-main);
	border: 1px var(--color-main) solid;
	color: var(--color-background);
	padding: 1.5em 5em 1.5em 0;
	font-family: 'BananaGrotesk', sans-serif;
	font-size: .9em;
	margin-left: .5em;
}



/* article section 4 */
header article section:nth-of-type(4) {
	padding: 1.5em 0 1.5em 1em ;
	border-bottom: 1px var(--color-main) solid;
	display: flex;
	align-items: center;
}

header article section:nth-of-type(4) a {
	font-family: 'BananaGrotesk', sans-serif;
	font-size: .9em;
	text-decoration: none;
	color: var(--color-main);
	padding-left: .5em;
}

header article section:nth-of-type(4) svg {
	height: 1.2em;
	width: 1.2em;
}


/* article section 5 */

header article section:nth-of-type(5) {
	padding: 1.5em 0 1.5em 1em ;
	border-bottom: 1px var(--color-main) solid;
	display: flex;
	align-items: center;
}

header article section:nth-of-type(5) a {
	font-family: 'BananaGrotesk', sans-serif;
	font-size: .9em;
	text-decoration: none;
	color: var(--color-main);
	padding-left: .5em;
}


/* article section 6 */

header article section:nth-of-type(6) {
	padding: 1.5em 0 1.5em 1em ;
	border-bottom: 1px var(--color-main) solid;
}

header article section:nth-of-type(6) button {
	appearance: none;
	border: none;
	background-color: var(--color-background);
	font-family: 'BananaGrotesk', sans-serif;
	font-size: .9em;
	color: var(--color-main);
}


.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}






/****************/
/* footer */
/****************/
footer {
	margin: 0em;
	background-color: var(--color-main);
}

footer h3 {
	font-family: BananaGrotesk, sans-serif;	
	font-weight: 600;
	color: var(--color-main);
	margin: 0;
}

footer p {
	font-family: 'BananaGrotesk', sans-serif;	
	color: var(--color-main);
	font-size: .9em;
	margin: 0;
}

footer button {
	font-family: 'BananaGrotesk', sans-serif;	
	color: var(--color-main);
    border-color:var(--color-main);
	background-color: var(--color-background);
    padding: .5em 3em;
	border-style: solid;
	border-width: 1px;
}

footer a {
	text-decoration: none;
	font-family: 'BananaGrotesk', sans-serif;
	color: var(--color-main);
	font-size: .9em;
	border: 1px var(--color-main) solid;
	padding: .8em;
	display: flex;
	justify-content: center;
}

footer section:nth-child(1) {
	margin: 1.3em;
	margin-top: 4.5em;
	background-color: var(--color-background);
	padding: 1.5em;
	border-top: 2em var(--color-main) solid;
}

footer section:nth-child(1) form {
	display: grid;
	grid-template-columns: 1fr 1fr max-content;
	grid-template-rows: 1fr 1fr 1fr;
}

footer section:nth-child(1) input {
	border: none;
	border-bottom: 1px solid var(--color-main);
}

footer section:nth-child(1) input[type="email"] {
	grid-column-start: 1;
	grid-column-end: 4;
	margin-bottom: 1em;
}

footer section:nth-child(1) button {
	grid-column-start: 1;
	grid-column-end: 4;
	padding: 1em;
}

footer section:nth-child(1) label {
	font-family: 'BananaGrotesk', sans-serif;	
	font-size: .9em;
	font-weight: 500;
}

footer section:nth-child(1) p {
	font-size: .6em;
	padding: 1em 0em 2.5em 0em;
}

footer section:nth-child(2) {
	margin: 1.3em;
	background-color: var(--color-background);
	padding: 1.5em;
}

footer section:nth-child(2) img {
	width: 9em;
}

footer section:nth-child(2) p {
	padding: 1em 0em 2.5em 0em;
}

footer section:nth-child(3) {
	margin: 1.3em;
	background-color: var(--color-background);
	padding: 1.5em;
}
footer section:nth-child(3) p {
	padding: 1em 0em 2.5em 0em;
}


footer section:nth-child(4) {
	margin: 1.3em;
	background-color: var(--color-background);
	padding: 1.5em;
}

footer section:nth-child(4) p {
	padding: 1em 0em 2.5em 0em;
}

footer section:nth-child(5) {
	background-color: var(--color-main);
	display: grid;
	gap: 1px;
	padding: 1px 0px 1px 0px;
}

footer section:nth-child(5) details {
	background-color: var(--color-background);
}

footer section:nth-child(5) li {
	list-style: none;
	font-family: 'BananaGrotesk', sans-serif;	
	color: var(--color-main);
	font-size: 0.8em;
	font-weight: 500;
	padding: 0.5em;
	padding-left: 0em;
}

footer summary {
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
	font-family: 'BananaGrotesk', sans-serif;	
	font-size: 1.1em;
	color: var(--color-main);
	padding: 1.5em;
}

footer section:nth-child(6) {
	background-color: var(--color-background);
	margin: 0;
}

footer section:nth-child(6) svg {
	width: 2em;
	height: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

footer section:nth-child(6) svg path {
	fill: var(--color-main);
}

footer section:nth-child(6) ul {
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: 0;
}

footer section:nth-child(6) li {
	list-style: none;
	padding: .75em;
}

footer section:nth-child(7) {
	background-color: var(--color-main);
	display: flex;
	justify-content: space-around;
	font-family: 'BananaGrotesk', sans-serif;	
	font-size: 1.2em;
	padding: 1px 0;
	gap: 1px;
}

footer section:nth-child(7) button {
	flex: 1; 
	/* betekent dat de buttons 1 groot deel moeten innenen */
	border: none;
	background-color: var(--color-background);
	font-size: 1em;
	gap: 1px;
}

footer section:nth-child(8) {
	background-color: var(--color-background);
	font-size: .9em;
	text-align: center;
	padding: 1.3em;
}




