/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-main:#e4002b;
	--color-background:white;
}

@font-face {
	font-family:'BananaGrotesk';
	src: url(styles/fonts/BananaGrotesk-Medium.woff2);
}

body {
	margin:0;
}

/****************/
/* header */
/****************/

header {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

/*header section:nth-of-type(2) {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding: .5em;
}
*/

/*header section:nth-of-type(2) {
	display: flex;
	gap: 1px;
	margin: 0;
	padding: 1px;
	list-style-type: none;
	background-color: var(--color-background);
	border: #e4002b;
	width: fit-content;
}
*/

header ul {
	display: flex;
	list-style: none;
}


header button {
	appearance: none;
	display: block;
	background-color: var(--color-background);
	border: none;
	padding: .5em;
}

header section:nth-of-type(1) img {
	width: 6em;
	height: 3em;
}

header section:nth-of-type(2) img {
	width:1.5em;
	height:1.5em;
}

header p {
	margin:0;
	font-family: BananaGrotesk, sans-serif;
	color: var(--color-main);
	font-size: .8em;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}


/****************/
/* footer */
/****************/
footer {
	margin: 0em;
	background-color: var(--color-main);
}

footer section:nth-child(1) {
	margin: 1.3em;
	background-color: var(--color-background);
	padding: 1.5em;
}

footer section:nth-child(1) form {
	font-family: BananaGrotesk, sans-serif;
	font-size: 1em;
	font-weight: 500;
}

footer section:nth-child(1) p {
	font-size: .6em;
}

footer section:nth-child(2) {
	margin: 1.3em;
	background-color: var(--color-background);
	padding: 1.5em;
}

footer section:nth-child(2) img {
	width: 9em;
}

footer section:nth-child(3) {
	margin: 1.3em;
	background-color: var(--color-background);
	padding: 1.5em;
}

footer section:nth-child(4) {
	margin: 1.3em;
	background-color: var(--color-background);
	padding: 1.5em;
}

footer section:nth-child(5) {
	background-color: var(--color-background);
	padding: 1em;
}

footer section:nth-child(5) li {
	list-style: none;
	font-family: BananaGrotesk, sans-serif;	
	color: var(--color-main);
	font-size: 0.8em;
	font-weight: 500;
	padding: 0.5em;
	padding-left: 0em;
}

footer section:nth-child(6) {
	background-color: var(--color-background);
	display: flex;
	justify-content: space-around;
}

footer section:nth-child(6) img {
	width: 2em;
}

footer section:nth-child(6) img:nth-of-type(5) {
	width: 1.5em;
}

footer section:nth-child(6) img:nth-of-type(6) {
	width: 1.5em;
}

footer section:nth-child(7) {
	background-color: var(--color-background)
}

footer section:nth-child(8) {
	background-color: var(--color-background)
}

footer h2 {
	font-family: BananaGrotesk, sans-serif;	
	color: var(--color-main);
	font-size: 1.2em;
	font-weight: 500;
}

footer h3 {
	font-family: BananaGrotesk, sans-serif;	
	font-weight: 600;
	color: var(--color-main);
	margin: 0;
}

footer p {
	font-family: BananaGrotesk, sans-serif;	
	color: var(--color-main);
	font-size: .9em;
	margin: 0;
	padding: 1em 0em 2.5em 0em;
}

footer button {
    border-color:var(--color-main);
	background-color: var(--color-background);
    padding: .5em 3em;
}
